#btn1{
    color:honeydew;
    background-color: green;
}
#btn2{
    color:honeydew;
    background-color: blue;
}
#btn3{
    color:honeydew;
    background-color: pink;
}
#btn4{
    color:honeydew;
    background-color: yellow;
}